<ion-view>
  <div class="bar bar-subheader">
    <h2 class="title"><span>You're currently nearby</span> 1616 Pine St.</h2>
  </div>
  <ion-content>
    <div style="margin-top: 88px;">
      <div class="row" style="position: absolute; bottom: 60px;">
        <div class="col">
          <div class="list">
            <div class="item range range-positive">
              <i class="icon ion-ios-sunny-outline"></i>
              <input type="range" name="volume" min="0" max="100" value="33">
              <i class="icon ion-ios-sunny"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>